{
  "extends": "stylelint-config-htmlacademy",
  ignoreFiles: "source/sass/_normalize.scss",
  "rules": {
    "declaration-no-important": true,
    "indentation": [2, {"ignore": ["inside-parens"]}]
  }
}
