// overlay

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9998;

  display: block;

  background-color: rgba($color: #ffffff, $alpha: 0.6);

  &--close {
    display: none;
  }
}
