// phone

.phone {
  display: flex;

  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  text-decoration: underline;
  column-gap: 10px;

  &:hover {
    color: var(--accent-basic);
  }

  @media #{$tablet} {
    display: none;
  }
}

.phone__icon {
  fill: transparent;
  stroke: currentColor;
}
