// price

.price {
  display: flex;
  justify-content: space-between;
  max-width: $max-desktop;
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 20px;

  color: var(--dark-basic);

  @media #{$tablet} {
    flex-direction: column;
    padding-right: 20px;

    row-gap: 30px;
  }

  @media #{$mobile} {
    padding: 0 16px;

    row-gap: 40px;
  }
}

.price__wrapper {
  max-width: 300px;
  margin-left: auto;
  padding-top: 109px;

  @media #{$tablet} {
    max-width: unset;
    margin-left: 0;
    padding-top: 0;

    text-align: center;
  }
}

.price__title {
  margin: 0;
  margin-bottom: 30px;

  font-weight: 600;
  font-size: 55px;
  line-height: 90px;

  &::after {
    content: "";

    display: block;
    width: 175px;
    height: 3px;
    margin-top: 15px;

    background-color: var(--accent-basic);
  }

  @media #{$tablet} {
    margin-bottom: 20px;

    font-size: 30px;
    line-height: 45px;

    &::after {
      display: none;
    }
  }

  @media #{$mobile} {
    font-size: 24px;
    line-height: 36px;
  }
}

.price__text {
  margin: 0;
  margin-bottom: 62px;

  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  color: $text-grey;

  @media #{$tablet} {
    margin-bottom: 35px;
  }

  @media #{$mobile} {
    margin-bottom: 22px;
  }
}

.price__call {
  margin: 0;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 22px;
  line-height: 34px;
  text-align: center;
  color: var(--dark-strong);

  @media #{$tablet} {
    font-size: 18px;
  }

  @media #{$mobile} {
    margin-bottom: 10px;
  }
}

.price__phone {
  display: inline-flex;

  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: var(--basic-black);
  column-gap: 20px;

  &:hover {
    color: var(--accent-basic);
  }

  @media #{$tablet} {
    font-size: 18px;
    text-decoration: underline;
  }
}

.price__icon {
  fill: transparent;
  stroke: var(--accent-basic);

  @media #{$tablet} {
    display: none;
  }
}

.price__list {
  display: grid;
  order: -1;
  max-width: 770px;
  margin: 0;
  margin-right: 10px;
  padding: 0;

  list-style: none;
  column-gap: 30px;

  grid-template-columns: repeat(2, 1fr);

  @media #{$tablet} {
    order: unset;
    max-width: unset;
    margin-right: 0;
    padding-right: 50px;
    padding-left: 50px;

    column-gap: 50px;
  }

  @media #{$mobile} {
    padding: 0;

    grid-template-columns: unset;
    row-gap: 30px;
  }
}

.price__item {
  display: flex;
}
