// purchase

.purchase {
  display: grid;

  color: var(--modal-dark);

  background-color: var(--special-white);

  grid-template-columns: auto 1fr;

  @media #{$mobile} {
    display: block;
  }
}

.purchase__picture {
  display: flex;

  @media #{$mobile} {
    display: none;
  }
}

.purchase__image {
  display: block;
  width: 100%;

  object-fit: cover;
}

.purchase__form {
  padding: 72px 60px;

  text-align: center;

  @media #{$mobile} {
    padding: 100px 16px;
  }
}

.purchase__title {
  margin: 0;
  margin-bottom: 35px;

  font-weight: 600;
  font-size: 25px;
  line-height: 43px;
}

.purchase__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  list-style: none;

  row-gap: 5px;
}

.purchase__button {
  justify-content: center;
  width: unset;
  margin: 0 auto;
  padding-top: 18px;
  padding-bottom: 17px;

  @media #{$mobile} {
    width: 100%;
    padding-bottom: 20px;
  }
}
